html {
  font-size: 62.5%;
}

@media all and (max-width: 400px) {
  .Body {
    flex-direction: column;
    display: flex;
  }
  .column {
    width: 100%;
  }
}

.Body {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.Main-todo {
  background: dimgray;
  flex-direction: row;
  padding: 1.5rem;
  font-size: 18px;
  margin: auto;
  box-shadow: none;
  max-width: 100%;
}

.Main-todo .MainAddTask {
  display: flex;
  background: dimgray;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
}

.AddName {
  margin-right: 1rem;
}

.AddDescription {
  margin-right: 1rem;
}

.TaskTitle h3 {
  color: darkorange;
}

.Second-todo {
  background: dimgray;
  display: grid;
  flex-direction: column;
  /*grid-template-columns: repeat(2, 2fr);*/
  /*grid-template-rows: repeat(2, auto);*/
  justify-content: center;
  padding: 1rem;
  margin-top: 1.5rem;
  max-width: 100%;
}

.SecondBodyTodo {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px gray solid;
  margin: 2px 2px;
}

.TodoDescription {
  font-size: 1.6rem;
  margin-top: 2px;
}

.TodoList {
  color: darkorange;
  margin-top: 8px;
}

.Buttons {
  display: flex;
  height: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  cursor: pointer;
}

#button-complete {
  color: green;
  border: 1px solid green;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 8px;
}

#button-complete:hover {
  background-color: darkgreen;
  border: 1px solid green;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
}

#button-delete {
  color: red;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 8px;
}

#button-delete:hover {
  background-color: darkred;
  color: white;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 8px;
}

.FormikForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AddTaskButton {
  border-radius: 20px;
  color: white;
  width: 100%;
  padding: 5px 20px;
  border: darkorange;
  background-color: darkorange;
}

.InputForm {
  border-radius: 10px;
  border-color: darkorange;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  width: 16rem;
  box-shadow: none;
  cursor: pointer;
}
